<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/front/bower_components/components-font-awesome/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/front/bower_components/flexslider/flexslider.css">
    <link rel="stylesheet" href="/front/app/styles/menu.css">
    <link rel="stylesheet" href="/front/app/styles/autocomplete.css">
    <link rel="stylesheet" href="/front/app/styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="frontApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container main">
      <div class="row affix-row toggle">
        <div class="col-sm-3 col-md-2 affix-sidebar">
          <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Menu</span>
              </div>
              <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <div class = "logo">
                  <img src = "images/yeoman.png">
                </div>
                <div class = "wat">Menu</div>
                <ul class="nav navbar-nav" id="sidenav01">
                  <li class = "active"><a ng-href="{{constants.client}}"><span class="glyphicon glyphicon-search"></span>&nbsp&nbsp
                    Поиск
                  </a></li>
                  <li><a ng-href="{{constants.client+'create'}}"><i class="fa fa-newspaper-o"></i>&nbsp
                    Дать объявление
                  </a></li>
                  <li ng-show="profile.getState()!=null"><a ng-href="{{constants.client+'user'}}"><span class="glyphicon glyphicon-user"></span>&nbsp&nbsp
                    Личный кабинет
                  </a></li>
                  <li ng-show="profile.getState()!=null"><a ng-href="{{constants.client+'logout'}}"><i class="fa fa-reply-all"></i>&nbsp&nbsp
                    Выйти
                  </a></li>
                  <li ng-show="profile.getState()==null"><a ng-href="{{constants.client+'register'}}"><span class="glyphicon glyphicon-user"></span>&nbsp&nbsp
                    Регистрация
                  </a></li>
                  <li ng-show="profile.getStatus()=='admin'"><a ng-href="{{constants.client+'control'}}"><i class="fa fa-wrench"></i>&nbsp&nbsp
                    Админка
                  </a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </div>
      <div ng-view="" class="content"></div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/front/bower_components/jquery/jquery.js"></script>
    <script src="/front/bower_components/angular/angular.js"></script>
    <script src="/front/bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="/front/bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="/front/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/front/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/front/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/front/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/front/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/front/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/front/bower_components/angular-route/angular-route.js"></script>
    <script src="/front/bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="/front/bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
    <script src="/front/bower_components/allmighty-autocomplete/script/autocomplete.js"></script>
    <script src="/front/bower_components/angucomplete/angucomplete.js"></script>
    <script src="/front/bower_components/oi.file/oi.file.js"></script>
    <script src="/front/bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="/front/bower_components/restangular/dist/restangular.js"></script>
    <!--<script src="/front/bower_components/angular/angular.js"></script>-->

    <script src="/front/bower_components/underscore/underscore.js"></script>


    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="/front/app/scripts/app.js"></script>
        <script src="/front/app/scripts/controllers/main.js"></script>
        <script src="/front/app/scripts/controllers/about.js"></script>
    <script src="/front/app/scripts/controllers/create.js"></script>
    <script src="/front/app/scripts/services/profile.js"></script>
    <script src="/front/app/scripts/controllers/register.js"></script>
    <script src="/front/app/scripts/controllers/auth.js"></script>
    <script src="/front/app/scripts/controllers/set.js"></script>
    <script src="/front/app/scripts/controllers/page.js"></script>
    <script src="/front/app/scripts/controllers/req.js"></script>
    <script src="/front/app/scripts/controllers/user.js"></script>
    <script src="/front/app/scripts/controllers/category.js"></script>
    <script src="/front/app/scripts/controllers/search.js"></script>
    <script src="/front/app/scripts/controllers/price.js"></script>
    <script src="/front/app/scripts/controllers/city.js"></script>
    <script src="/front/app/scripts/services/keyWord.js"></script>
    <script src="/front/app/scripts/controllers/query.js"></script>
    <script src="/front/app/scripts/controllers/logout.js"></script>
    <script src="/front/app/scripts/controllers/control.js"></script>
    <!-- endbuild -->
</body>
</html>
