<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>
<ul class="rubric_list">
  <li><a href="/computers-devices/">Компьютерная техника</a></li>
  <li><a href="/electronics-technics/">Бытовая техника и электроника</a></li>
  <li><a href="/communication/">Телефоны и связь</a></li>
  <li><a href="/photo/">Фото, оптика</a></li>
  <li><a href="/apparel-footwear/">Одежда, обувь, аксессуары</a></li>
  <li><a href="/children/">Товары для детей</a></li>
  <li class="last"><a href="/food/">Продукты питания</a></li>
</ul>
<ul class="rubric_list">
  <li><a href="/beauty-health/">Здоровье и красота</a></li>
  <li><a href="/arts-music/">Музыка, искусство</a></li>
  <li><a href="/otdam-darom/">Отдам даром</a></li>
  <li><a href="/animals-plants/">Животные и растения</a></li>
  <li><a href="/services-business/">Услуги и деятельность</a></li>
  <li><a href="/business/">Бизнес и партнёрство</a></li>
  <!-- li class="last"><a href="http://banks.irr.ru/">Ипотека и кредитование</a></li //-->
  <li class="last"><a href="/gifts/">Праздники и подарки</a></li>
</ul>
<ul class="rubric_list">
  <li><a href="/books-papers/">Книги, учебники, журналы</a></li>
  <li><a href="/furniture-interior/">Мебель, интерьер, обиход</a></li>
  <li><a href="/sports-tourism/">Спорт, туризм, отдых</a></li>
  <li><a href="/garden/">Все для дачи</a></li>
  <li><a href="/equipment/">Оборудование</a></li>
  <li><a href="/jobs-education/">Работа и образование</a></li>
  <li class="last"><a href="/other/">Другое</a></li>
</ul>
