
<div class = "window_auth">
  <input class = "form-control" placeholder="Логин" ng-model="user.identifier">
  <input class = "form-control" placeholder="Пароль" ng-model="user.password" type="password">
  <button class = "submit btn btn-success" ng-click = "auth()">Войти</button>
</div>
<div class = "text-center register">
  <a ng-href="{{constants.client+'register'}}">Регистрация</a>
</div>
<div class="well2">

  <div class="social">
    <h3 class="text-center">Войти через соц сеть</h3>
    <a ng-href = "{{constants.serverApi+'auth/vkontakte'}}">
            <span class="fa-stack fa-lg vk">
            <i class="fa fa-circle fa-vk-color  fa-stack-2x"></i>
            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
            </span>
    </a>
    <a ng-href = "{{constants.serverApi+'auth/facebook'}}">
            <span class="fa-stack fa-lg facebook">
            <i class="fa fa-circle fa-facebook-color  fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
    </a>
    <a ng-href = "{{constants.serverApi+'auth/twitter'}}">
            <span class="fa-stack fa-lg twitter">
            <i class="fa fa-circle fa-twitter-color fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
    </a>
  </div>
</div>
  <div class = "emptySize">

  </div>

