<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>
<div class = "window">
  <table class = "table table-striped acc">
    <tr ng-repeat="r in reqs">
      <td class = "acc" ng-click = "href('req/'+r.id)">{{r.title}}</td>
      <td class = "acc">{{r.description}}</td>
      <td ng-show = "r.status == false"><button class = "btn btn-success success" ng-click = "access(r.id, $index)">Разрешить</button></td>
      <td ng-show = "r.status"><button class = "btn btn-danger success" ng-click = "noAccess(r.id, $index)">Запретить</button></td>
      <td><button class = "btn btn-danger success" ng-click = "delete(r.id)">Удалить</button></td>
    </tr>
  </table>
</div>
