<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>

<div class = "make">

  <div role="form" class = "window_create">
    <input class = "form-control title" ng-model="user.title" placeholder="Название">
    <angucomplete id="city"
                  placeholder="Введите город"
                  pause="100"
                  selectedobject="selectedCity"
                  localdata="city"
                  searchfields="name"
                  titlefield="name"
                  minlength="0"
                  inputclass="form-control form-control-small"/>
    <angucomplete id="category"
                  placeholder="Введите категорию"
                  pause="100"
                  selectedobject="selectedCategory"
                  localdata="category"
                  searchfields="name"
                  titlefield="name"
                  minlength="0"
                  inputclass="form-control form-control-small"/>
    <textarea class = "description" placeholder="Напишите описание для вашего объявления" ng-model = "user.description"></textarea>
    <input class = "form-control title priceCreate" ng-model="user.price" placeholder="Цена">
  </div>
  <div class = "window_create">
    <form hidden="" enctype="multipart/form-data" action = "localhost:1337/images/uplaod" method="POST" id="mainForm">
      <input hidden="" id="uploadImage" class="btn" type="file" name="uploadFile" onchange = "$('#button').click()">
      <input hidden="" id="button" type="submit" value="Upload">
    </form>
    <div id="results"></div>
    <div class = "images">
      <!--<flex-slider-->
        <!--slide="s in slideshow.slides track by $index"-->
        <!--animation="slide">-->
        <!--<li class = "slide">-->
          <!--<button class = "btn delete" ng-click = "delete(s)">-->
            <!--<i class="fa fa-times"></i>-->
          <!--</button>-->
          <!--<img ng-src="{{s}}">-->
        <!--</li>-->
      <!--</flex-slider>-->
      <div class="slider">
        <div class="slide" ng-repeat="image in images" ng-show="image.visible">
          <img ng-src="{{image.src}}" />
        </div>
      </div>
      <div class="arrows" ng-show = "images.length > 0">
        <a id = "back" ng-click="prev()">
          <i class="fa fa-reply"></i>
        </a>
        <a id = "next" ng-click="next()">
          <i class="fa fa-share"></i>
        </a>
      </div>
    </div>
    <div class = "add">
    <button class = "btn btn-success" ng-class="{disabled : images.length >=4}" onclick = "$('#uploadImage').click()">Добавить изображение</button>
      </div>
  </div>
  <div class = "window_create">
    <div class = "contacts">
    <input type="text" class = "contact form-control" ng-model = "user.contact" placeholder="Контактное лицо"><br>
    <input type="text" class = "phoneNumber form-control" ng-model = "user.phone" placeholder="Номер телефона">
      <input type="text" class = "skype form-control" ng-model = "user.skype" placeholder="Skype(если есть)"><br>
    <input type="text" class = "site form-control" ng-model = "user.site" placeholder="Сайт(если есть)"><br>

      </div>
  </div>
  <div class = "go">
  <button class = "btn btn-success submit" ng-click="create()">Подать заяву</button>
    </div>
  </div>
</div>

