<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>
  <div class = "announce">
    <div class="window" ng-repeat="req in reqs">
      <form role="form" class = "zayavka">
        <table class="table zayavka">
          <tr>
            <td>
        <img ng-src = {{req.images[0].src}}>
              </td>
            <td>
        <h3 class = "name"><>{{req.title}}</a></h3>
        <div class = "desc">{{req.description}}</div>
              <div class = "date">{{req.newDate}}</div>
        <div class = "price">{{req.price}}&nbsp<i class="fa fa-rub"></i></div>

            </td>
          </tr>
          </table>
      </form>
    </div>
    </div>
  <div class = "text-center">
  <ul class = "navigation-id">
    <li ng-show="nowCount!=1"><a ng-href="{{'#/page/1'}}"><i class="fa fa-angle-double-left"></i></a></li>
    <li ng-show = "nowCount-2>0"><a ng-href="{{'#/page/'+(nowCount-2)}}">{{nowCount-2}}</a></li>
    <li ng-show = "nowCount-1>0"><a ng-href="{{'#/page/'+(nowCount-1)}}">{{nowCount-1}}</a></li>
    <li><a>{{nowCount}}</a></li>
    <li ng-show = "nowCount*20<count"><a ng-href="{{'#/page/'+(nowCount+1)}}">{{nowCount+1}}</a></li>
    <li ng-show = "(nowCount+1)*20<count"><a ng-href="{{'#/page/'+(nowCount+2)}}">{{nowCount+2}}</a></li>
    <li ng-show = "ceil(count/20)!=nowCount"><a ng-href = "{{'#/page/'+ceil(count/20)}}"><i class="fa fa-angle-double-right"></i></a></li>
  </ul>
    </div>
