<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>
<div class = "window_auth">
  <form action = "{{constants.serverApi+'auth/local/register'}}" method="POST">
    <input ng-show="false" class = "form-control" placeholder="Логин" name = "username" ng-model = "user.username">
    <input class = "form-control" placeholder="Email" name = "email" ng-model="user.email" ng-change = "login()">
    <input class = "form-control" placeholder="Пароль" name = "password" type="password" ng-model="user.password">
    <input hidden="" value="{{constants.client+'auth'}}" name = "returnUrl">
    <button class = "submit btn btn-success" type = "submit">Зарегистрироваться</button>
  </form>

</div>
<div class = "text-center register">
  <a ng-href="{{constants.client+'auth'}}">Уже зарегистрированны?</a>
</div>
<div class="well2">

  <div class="social">
    <h3 class="text-center">Войти через соц сеть</h3>
    <a ng-href = "{{constants.serverApi+'auth/vkontakte'}}">
            <span class="fa-stack fa-lg vk">
            <i class="fa fa-circle fa-vk-color  fa-stack-2x"></i>
            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
            </span>
    </a>
    <a ng-href = "{{constants.serverApi+'auth/facebook'}}">
            <span class="fa-stack fa-lg facebook">
            <i class="fa fa-circle fa-facebook-color  fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
    </a>
    <a ng-href = "{{constants.serverApi+'auth/twitter'}}">
            <span class="fa-stack fa-lg twitter">
            <i class="fa fa-circle fa-twitter-color fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
    </a>
  </div>
</div>
<div class = "emptySize">

</div>

