<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>
<div class="request">
  <h2 class = "req_title text-center">{{req.title}}</h2>
  <div class = "req_image">
    <flex-slider slide="s in req.images">
      <li>
        <img ng-src="{{s}}">
      </li>
    </flex-slider>
    </div>
  <div class = "window req_desc ">
    {{req.description}}
  </div>
  <div class = "window req_contacts">
    <table>
      <tr>
        <td>
          Skype: {{req.skype}}
        </td>
        </tr>
      <tr>
        <td>
          Телефон: {{req.phone}}
        </td>
        </tr>
      <tr>
        <td>
          Сайт: {{req.site}}
        </td>
      </tr>
    </table>
  </div>
</div>
  <div class = "emptySize"></div>

