<div class = "search">
  <table class = "table mainTable">
    <tr>
      <td>
        <input id = "query" class = "form-control" placeholder="{{'Всего объявлений: ' + count}}" ng-model="globalParams.word">
      </td>
      <td>
        <button class = "btn btn-success" ng-click = "search()">
          <i class="fa fa-search"></i>
        </button>
      </td>
    </tr>
  </table>
  <table class = "var">
    <tr>
      <td>
        <input id = "priceMin" class = "form-control" placeholder="Минимальная цена" ng-model="globalParams.min">
      </td>
      <td>
        <input id = "priceMax" class = "form-control" placeholder="Максимальная цена" ng-model="globalParams.max">
      </td>
      <td>
        <!--<input class = "form-control" placeholder="Город">-->
        <angucomplete id="city_global"
                      placeholder="Город"
                      pause="100"
                      selectedobject="globalSelectedCity"
                      localdata="globalCity"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control"/>

      </td>
      <td>
        <angucomplete id="category_global"
                      placeholder="Введите категорию"
                      pause="100"
                      selectedobject="globalSelectedCategory"
                      localdata="globalCategory"
                      searchfields="name"
                      titlefield="name"
                      minlength="0"
                      inputclass="form-control form-control-small"/>
      </td>
    </tr>
  </table>
</div>
  <div class = "user">
    <h2>{{user.username}}</h2>
    <div class = "window zayavka myReqs">
    <table class = "table table-striped">
      <tr ng-repeat="r in user.reqs">
        <td>
          {{r.title}}
        </td>
        <td>
          <button class = "btn btn-primary showReq" ng-click = "href('req/'+r.id)">Просмотреть</button>
        </td>
        <td>
          <button class = "btn btn-danger deleteReq" data-toggle="modal" data-target={{"#req"+r.id}}>Удалить</button>
        </td>
      </tr>
    </table>
      </div>
  </div>

<div ng-repeat="r in user.reqs" class="modal fade" id={{"req"+r.id}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <h2 class = "text-center">Вы действительно хотите удалить объявление "{{r.title}}" ?</h2>
        <h3 class = "text-center">Вы не сможете восстановить его :(</h3>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary yes" ng-click="delete(r.id)" data-dismiss="modal">Да</button>
        <button type="button" class="btn btn-danger nope" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>
  <div class = "em"></div>
