@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&subset=latin,cyrillic);

$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$body-bg: transparent;
$menu-bg: #3E4752;
$content-bg: #F0F4F6;
$link-color: #ECEDEE;
$link-hover-color: #EAEAEB;
$menu-hover-bg: #262D35;
$font-size-base: 16px;
$brand-success: #7AC9B2;
$color: #4F545A;
$logo-bg: #323A44;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

// endbower

body {
  background: #F0EFE7;
  margin: 0;
  padding: 0;
  font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4E443C;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}


h1 {
  color: #4E443C;
  font-size: 36px;
  font-weight: bold;
}

h2, h2 a {
  color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
  max-width: 620px;
  padding: 0 20px 40px 20px;
  margin: auto;
}

html {
  height: 100%;
//  * {
//    font-family: 'Open Sans', sans-serif;
//  }
  .center-grey {
    background: #f2f2f2;
  }
  .slider {
    position: relative;
    padding: 5px;
    margin: auto;
    margin-top: 40px;
    width: 410px;
    img{
      max-width: 390px;
      max-height: 391px;
      height: 390px;
    }
  }
  .slide {
    height: 391px;
    width: 390px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px #999;
    max-width: 390px;
  }
  .arrows {
    text-align: center;
    a{
      font-size: 1.2rem;
    }
  }
  .arrows img {
    height: 32px;
  }
  h1 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #222;
  }
  .slide.ng-hide-add,
  .slide.ng-hide-remove {
    display: block!important;
  }
  .slide.ng-hide-add.ng-hide-add-active,
  .slide.ng-hide-remove {
    opacity: 0;
  }
  .slide.ng-hide-add,
  .slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
  font-size: $font-size-base;
  font-family: 'PT Sans Narrow', sans-serif;
  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  .navbar-default {
    width: 100%;
  }
  .images{
    margin-bottom: 10%;
  }
  .myGallery{
    transition: 0s;
    width: 400px;
    min-width: 400px;
    margin: 0 auto;
    img{
     height: 400px;
      min-height: 400px;
    }
    button{
      background-color: transparent;
      &:hover{
        background-color: transparent;
      }
    }
  }
  /* Space out content a bit */
  body {
    min-height: 100%;
    padding-top: 20px;
    background-image: url('../images/fon.gif'); /* Путь к фоновому изображению */
    background-repeat: repeat;
    background-attachment: fixed; /* Фиксируем фон веб-страницы */
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=1000);
    font-family: 'PT Sans Narrow', sans-serif;
    -webkit-background-size: inherit;
    -moz-background-size: inherit;
    -o-background-size: inherit;
    background-size: inherit;
  }
  .container{
    margin: 0 auto;
  }
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Custom page header */
  .header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
      padding-bottom: 19px;
    }
  }

  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
  }

  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;

    p + h4 {
      margin-top: 28px;
    }
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .container {
      max-width: 1368px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-left: 0;
      padding-right: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }
  .container {
    padding: 0px;
    background-color: $content-bg;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
      background-color: $menu-hover-bg;
    }
  }
  .navbar-default .navbar-nav > .active > a {
    color: $link-hover-color;
    background-color: $menu-hover-bg;
  }
  .success{
    border-radius: 0px !important;
  }
  .acc{
    line-height: 33px !important;
  }
  .content {
    float: right;
    width: 75%;
    padding-bottom: 20px;
    min-height: 950px;
  }
  .logo {
    cursor: pointer;
    text-align: center;
    height: 120px;
    background-color: $logo-bg;
    img {
      margin-bottom: 20px;
      min-width: 120px;
      width: inherit;
      height: inherit;
    }
  }
  .string {
    height: 42px;
    line-height: 55px;
    padding-left: 15px;
  }
  .announce {
    background-color: $content-bg;
  }
  .check{
    margin-top: 0px;
    position: relative;
    top: 3px;
    width: 2rem !important;
    height: 1rem !important;
  }
  .emptySize{
    padding-bottom: 60%;
  }
  .vk {
    color: #4c75a3; }

  .facebook {
    color: #3c599b; }

  .twitter {
    color: #55acf0; }
  .yep{
    font-size: 1.5rem;
  }
  .mainTable {
    margin-bottom: 0px !important;
    tbody tr td {
      input {
        font-size: 1.1rem;
      }
      button {
        height: 39px;
        i{
          font-size: 1.5rem;
        }
      }

      padding: 0px;
      border: 0px;
    }
  }
  .navigation-id{
    display: inline-flex;
    font-size: 1.5rem;
    text-align: center;
    li{
      padding-left: 2px;
      padding-right: 2px;
        cursor: pointer;
      list-style-type: none;
      a:hover{
        color: #68c2a7;
      }
    }
  }
  .search {
    background-color: darken(#ffffff, 3%);
    height: 120px;
    line-height: 1rem;
    padding-top: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #E7EDF0;
    input {
      height: auto;
      width: 100%;
      border-right-width: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .btn {
      width: 70%;
    }
  }
  .btn {
    border: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 5.5px
  }
  h3 {
    margin: 0;
  }
  .window {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .lineBlock {

    display: -moz-inline-stack; /* ← Firefox 2 backwards compatibility */
    display: inline-block;
    vertical-align: top;

    /* ↓ IE6 & IE7 «hasLayout» voodoo */
    zoom: 1;
    *display: inline;
    /* ↑ IE6 & IE7 starhack ← http://www.ejeliot.com/blog/63 */
  }
  .title{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
  }
  .zayavka{
    *{
      font-size: 1.1rem;
    }
    img{
      width: 240px;
      max-height: 147px;
    }
    tbody{
      tr td{
        &:first-child{
          width: 23%;
        }
      }
    }
  }
  .name{
    text-align: left;
    cursor: pointer;
    a:hover{
      color: #68c2a7;
      cursor: pointer;
    }
  }
  .price{
    text-align: right;
    position: relative;
    top: 42px;
    font-size: 1.5rem !important;
  }
  .priceCreate{
    margin-top: 30px;
  }
  .date{
    position: relative;
    top: 70px;
  }
  .slide{
    position: relative;
    bottom: 34px;
  }
  .flex-control-nav{
    bottom: 0px;
  }
  .delete{
    position: relative;
    top: 34px;
    margin-left: 93%;
    background-color: transparent;
    &:hover{
      background-color: transparent;
    }
    i{
      color: grey;
    }
  }
  .empty-bottom {
    width: 100%;
    background-color: $menu-bg;
  }
  .empty-top {
    height: 50px;
    width: 25%;
    position: relative;
    background-color: $logo-bg;
  }
  .navbar-default {
    background-color: $menu-bg;
    height: 100%;
  }
  .wat {
    padding-left: 15px;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .user{
    text-align: center;
  }
  .showReq{
    border-radius: 5px;
  }
  .deleteReq{
    border-radius: 5px;
  }
  .myReqs{
    table{
      tbody tr td{
        &:first-child{
          width: 70%;
          line-height: 35px;
        }
      }
    }
  }
  .navbar-default .navbar-nav > li > a {
    color: $link-color;
    font-size: 1.3rem;
    &:hover {
      color: $link-hover-color;
      background-color: $menu-hover-bg;
    }
  }
  .sidebar-nav {
    height: 100%;
    width: 1%;
  }
  .navbar-default {
    border: 0px;
  }
  .var {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    margin-left: 5px;
    right: 7.5px;
    tbody tr td input{
      border-radius: 5px;
    }
  }
  .navbar-collapse {
    border-top-width: 0px;
  }
  .toggle, .navbar-toggle, .navbar-toggle {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .row {

  }
  #city input{
    margin-top: 40px;
    margin-left: 10%;
    margin-top: 0px;
    width: 80%;
  }
  #city_dropdown, #category_dropdown{
    margin-left: 10%;
    width: 80%;
    font-size: 16px;
  }
  #city_global_dropdown, #category_global_dropdown{
    width: 100%;
  }
  #category input{
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
  }
  .req_desc{
    word-wrap: break-word;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 1.5rem;
  }
  .req_image{
    width: 95%;
    margin: 0 auto;
    min-width: 500px;
    font-size: 1.5rem;
  }
  .req_contacts{
    margin: 0 auto;
    font-size: 1.5rem;
    word-wrap: break-word;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .flexslider{
    margin-bottom: 20px;
  }
  .window_create{
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 40px;
    min-width: 500px;
  }
  .description{
    width: 80%;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    height: 120px;
    font-size: 1rem;
  }
  .gallery{
    width: 95%;
    min-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    height: 150px;
    background-color: $content-bg;
    border-radius: 4px;
    border: 5px solid darken($content-bg, 10%);
  }
  .foto{
    width: 25%;
    height: 90%;
    border-left: 3px solid darken($content-bg, 5%);
    border-right: 3px solid darken($content-bg, 5%);
    margin-top: 5px;
    img{
      width: 100%;
      height: 100%;
      min-width: 120px;
      min-height: 120px;
    }
  }
  .photos{
    width: 100%;
    height: 100%;
    tr td{
      height: 90%;
      width: 23%;
      padding-top: 4%;
      padding-bottom: 5%;
      border-top-width: 0px;
    }
  }
  .yes, .nope{
    font-size: 2rem;
    border-radius: 0px;
    width: 15%;
    min-width: 40px;
    max-width: 82px;
  }
  .cancel{
    position: relative;
    bottom: 101%;
    left: 89%;
    padding: 0;
    border-radius: 0px;
    padding-left: 2px;
    padding-right: 2px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    background-color: transparent;
    &:hover{
      opacity: 1;
      background-color: transparent;
      color: #808080;
    }
  }
  .social{
    background-color: white;
    text-align: center;
    width: 40%;
    font-size: 1.5rem;
    margin: 0 auto;
    height: 150px;
    line-height: 150px;

  }
  .window_auth{
    width: 50%;
    margin: 0 auto;
    margin-top: 14%;
    text-align: center;
  }
  .submit{
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 0px;
  }
  .register, .well2{
    font-size: 1.5rem;
  }
  .add{
    text-align: center;
    margin-top: 40px;
    button{
      border-radius: 0px;
      font-size: 1.3rem;
    }
  }
  .contacts{
    margin-left: 10%;
  }
  .contact{
    width: 80%;
    min-width: 443px;
  }
  .phoneNumber, .skype{
    display: inline-block;
    width: 41%;
    min-width: 220px;
  }
  .site{
    margin-top: 10px;
    width: 41%;
    min-width: 220px;
  }
  .go{
    margin-top: 25px;
    text-align: center;
    button{
      font-size: 2rem;
    }
  }
  input[type='file'] {
    font-size: 0px;
  }
  @media (max-width: 767px) {
    body {
      padding-top: 0px !important;
    }
    .navbar-default, .sidebar-nav {
      width: 100%;
    }
    .content {
      float: none;
      width: 100%;
      min-height: 950px;
    }
    .logo, .wat {
      display: none;
    }
    .container {
      overflow: hidden;
    }
  }
  @media (max-width: 560px) {
    .window_create{
      margin-left:1%;
      margin-right:1%;
    }
  }
}
.text-center{
  text-align: center !important;
}
//body {
//  overflow: auto; /* добавить полосу прокрутки */
//}
.container {
  min-height: 100%;
}
